<!--https://corporateclash.net/api/v1/districts/-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="./assets/logo_icon.png" height="58px"/>
    <span>TTCC</span>
    <span *ngIf="message">&nbsp{{message}}</span>
    <span class="filler"></span>
    <mat-chip-list class="nav-chips">
      <mat-chip *ngIf="active_route != '/' && active_route != '/invasions'" [routerLink]="['/']" class="bg-accent drop-shadow" id="r-invasions">Invasions</mat-chip>
      <mat-chip *ngIf="active_route != '/history'" [routerLink]="['/history']" class="bg-accent drop-shadow" id="r-history">History</mat-chip>
      <!-- <mat-chip *ngIf="active_route != '/groups'" [routerLink]="['/groups']" class="bg-accent drop-shadow" id="r-groups">Group Finder</mat-chip> -->
      <!-- [routerLink]="['/invasions']" -->
    </mat-chip-list>
  </mat-toolbar-row>
</mat-toolbar>
<div id="toolbar-space"></div>
<div class="content">
  <router-outlet></router-outlet>
</div>

