<div class="dialog-content" id="dialog-group">
    <div class="dialog-header" [style.background-image]="getRightImage()">
        <div class="dialog-header-left" [style.background-image]="getActivityImage()">
        </div>
        <img *ngIf="data.activity == 'Building'" [src]="getTypeImage(data.cog_type)" class="left-image"/>
        <img *ngIf="data.activity == 'Facility' || data.activity == 'Boss(HQ)'" [src]="getTypeImage(getPlaygroundFromCog(data.facility_type || data.boss))" class="left-image"/>

        <div class="close-div">
            <mat-icon class="close-icon" (click)="closeDia()">close</mat-icon>
        </div>
        <div *ngIf="data.activity == 'Building'" class="stories" [matTooltip]="data.building_level + ' Stories'" matTooltipPosition="right">
            <div class="story" *ngFor="let item of makeArray(data.building_level)"></div>
        </div>
    </div>
    <div class="dialog-content-header">
        <h1 class="m-10">Group Information</h1>
    </div>
    <mat-divider></mat-divider>
    <div>
        <table class="dialog-table" *ngIf="data.activity == 'Building'">
            <thead>
                <th>Objective</th>
                <th>Street</th>
                <th>Playground</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{data.building_level}} Story {{data.cog_type}} Building
                    </td>
                    <td>
                        {{data.street}}
                    </td>
                    <td>
                        {{getPlaygroundFromStreet(data.street)}}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="dialog-table" *ngIf="data.activity == 'Facility'">
            <thead>
                <th>Objective</th>
                <th>Area</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{data.facility_type.split('-')[1].split('/')[0]}} {{data.facility_type.split('-')[0]}} <span *ngIf="data.facility_type.split('/').length > 1">{{data.facility_type.split('/')[1]}}</span>
                    </td>
                    <td>
                        {{getPlaygroundFromCog(data.facility_type)}}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="dialog-table" *ngIf="data.activity == 'Boss(HQ)'">
            <thead>
                <th>Objective</th>
                <th>Area</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{data.boss}}
                    </td>
                    <td>
                        {{getPlaygroundFromCog(data.boss)}}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="dialog-table" *ngIf="data.activity == 'Boss(Playground)'">
            <thead>
                <th>Objective</th>
                <th>Street</th>
                <th>Playground</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Toontask
                    </td>
                    <td>
                        {{getBossTaskLocation()}}
                    </td>
                    <td>
                        {{data.playground}}
                    </td>
                </tr>
            </tbody>
        </table>
    
        <table class="dialog-table" style="border-width: 0;">
            <thead>
                <th>
                    <h1 class="m-10">
                        Toons
                    </h1>
                </th>
            </thead>
            <tbody>
                <ng-container *ngFor="let toonData of sortedToons">
                        <mat-divider></mat-divider>
                    <tr>
                        <td>
                            <span class="toon-details">
                                    <div *ngIf="false" class="toon-icon" [style.background-image]="getToonImage(toonData.toon.species, false)"></div>
                                    {{toonData.toon.name}} (Laff: {{toonData.toon.laff}})
                                    <span *ngIf="toonData.count > 1">
                                        +{{toonData.count-1}} friend<span *ngIf="toonData.count > 2">s</span>
                                    </span>
                            </span>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div class="dialog-actions">
        <button mat-button class="dialog-button" id="group-btn" (click)="group()"  [style.background-color]="(inThisGroup ? '#c52b2b' : (isFull ? 'grey' : '#31b631'))" [disabled]="isFull && !inThisGroup">{{inThisGroup ? 'Leave' : 'Join'}}</button>
        <button *ngIf="inThisGroup && !isFull" mat-button class="dialog-button" (click)="group(true)"  [style.background-color]="'#31b631'">Add a friend</button>
    </div>

    <!-- <div class="dialog-content-side side-left">
        <div *ngIf="data.activity == 'Building'">
            <h3>Objective</h3>
            <h3>Type</h3>
            <h3>Stories</h3>
            <h3>Street</h3>
            <h3>Playground</h3>
        </div>
    </div>
    <div class="dialog-content-side side-right">
        <div *ngIf="data.activity == 'Building'">
            <h3>{{data.activity}}</h3>
            <h3>{{data.cog_type}}</h3>
            <h3>{{data.building_level}}</h3>
            <h3>{{data.street}}</h3>
            <h3>{{getPlaygroundFromStreet(data.street)}}</h3>
        </div>
    </div> -->
</div>