<div class="left-floats">
    <div fxLayout="column" class="mini-floater" [class.active]="hover" (mouseover)="hover = true;" (mouseout)="hover = false;">
        <button *ngIf="!toonInGroup" mat-mini-fab class="floater bg-success" matTooltip="Create Group" matTooltipPosition="right" (click)="createGroup()"> 
            <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab class="floater bg-success" (click)="popToon(hasToon ? 'Edit' : 'Create')" [matTooltip]="(hasToon ? 'Edit' : 'Create') + ' Toon'" matTooltipPosition="right">
            <mat-icon *ngIf="hasToon">edit</mat-icon>
            <mat-icon *ngIf="!hasToon">add</mat-icon>
        </button>
    </div>
    <button mat-fab class="floater bg-success" [class.active]="hover" (mouseover)="hover = true;" (mouseout)="hover = false;">
        <mat-icon>add</mat-icon>
    </button>
<!--
    <button mat-fab class="floater bg-success" (click)="popToon(hasToon ? 'Edit' : 'Create')">
        <mat-icon *ngIf="hasToon">edit</mat-icon>
        <mat-icon *ngIf="!hasToon">add</mat-icon>
    </button>
-->
</div>
<div fxLayout="column">
    <!-- <mat-progress-bar [style.display]="isLoading ? 'block' : 'none'" style="position: absolute; width: 98%;"
        fxLayout="row"
        color="warn"
        mode="indeterminate">
    </mat-progress-bar>
    -->
    <div *ngIf="groups.length == 0" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="space-evenly center">
        <mat-card>
            <mat-card-title style="color: #f6c420; text-align: center;" [ngStyle.xs]="{'font-size.px': 20}"><mat-icon class="icons">warning</mat-icon>&nbsp;No Groups Active&nbsp;<mat-icon class="icons">warning</mat-icon><br/>Hover over the button at the bottom left to create one.</mat-card-title>
        </mat-card>
    </div>
    <div class="groups" fxLayout="row wrap" fxLayout.xs="column" fxFlex="100" fxLayoutAlign="space-evenly center" *ngIf="!lastRequestDown">
        <ng-container *ngFor="let group of groups; let i = index;">
            <mat-card class="group-card drop-shadow" (click)="viewGroup(i)">
                <div class="mat-card-left">
                    <h3 style="position: absolute;">
                        <span *ngIf="group.activity == 'Building'">{{group.building_level}} Story Building</span>
                        <span *ngIf="group.activity == 'Facility'">{{group.facility_type.split('-')[0]}}</span>
                        <span *ngIf="group.activity == 'Boss(HQ)'">{{group.boss}}</span>
                        <span *ngIf="group.activity == 'Boss(Playground)'">Task Boss</span>
                    </h3>
                    <mat-chip class="timer" [style.background-color]="group.toons.length + 1 < (group.activity == 'Boss(HQ)' ? 8 : 4) ? '#2cc218' : 'crimson'" matTooltip="Group Size" (click)="viewGroup(i)">
                        {{group.toons.length + 1}}/{{group.activity == 'Boss(HQ)' ? 8 : 4}}
                    </mat-chip>
                    <br/>
                    <mat-divider></mat-divider>
                    <div class="divider"></div>
                    <mat-chip *ngIf="group.activity == 'Building'" class="bg-primary drop-shadow moved" (click)="viewGroup(i)" [matTooltip]="getPlayground(group.street)">{{group.street}}</mat-chip>
                    <mat-chip *ngIf="group.activity == 'Facility'" class="bg-primary drop-shadow moved" (click)="viewGroup(i)" [matTooltip]="">{{group.facility_type.split('-')[1]}}</mat-chip>
                    <mat-chip *ngIf="group.activity == 'Boss(HQ)'" class="bg-primary drop-shadow moved" (click)="viewGroup(i)" [matTooltip]="">{{getCogPlayground(group.boss)}}</mat-chip>
                    <mat-chip *ngIf="group.activity == 'Boss(Playground)'" class="bg-primary drop-shadow moved" (click)="viewGroup(i)" [matTooltip]="">{{getBossTaskLocation(group.playground)}}</mat-chip>

                    <mat-chip class="bg-accent drop-shadow moved" matTooltipPosition="right" (click)="viewGroup(i)">{{group.district}}</mat-chip>                
                    <div class="divider"></div>
                </div>
                <div class="mat-card-right">
                    <img *ngIf="width > 320 && group.activity == 'Building'" class="drop-shadow-thicc" mat-card-md-image [src]="'./assets/places/' + group.building_level + '-Building.png'" onError="this.src='./assets/logo_icon.png'"/>
                    <img *ngIf="width > 320 && group.activity == 'Facility'" class="drop-shadow-thicc" mat-card-md-image [src]="'./assets/places/' + group.facility_type.split('-')[0] + '.png'" onError="this.src='./assets/logo_icon.png'"/>
                    <img *ngIf="width > 320 && group.activity == 'Boss(HQ)'" class="drop-shadow-thicc" mat-card-md-image [src]="'./assets/cogs/' + group.boss.split('.').join('') + '.png'" onError="this.src='./assets/logo_icon.png'"/>
                    <img *ngIf="width > 320 && group.activity == 'Boss(Playground)'" class="drop-shadow-thicc" mat-card-md-image [src]="'./assets/places/' + group.playground + '-boss.png'" onError="this.src='./assets/logo_icon.png'"/>

                    <img *ngIf="width <= 320 && group.activity == 'Building'" class="drop-shadow-thicc" mat-card-sm-image [src]="'./assets/places/' + group.building_level + '-Building.png'" onError="this.src='./assets/logo_icon.png'"/>
                    <img *ngIf="width <= 320 && group.activity == 'Facility'" class="drop-shadow-thicc" mat-card-sm-image [src]="'./assets/places/' + group.facility_type.split('-')[0] + '.png'" onError="this.src='./assets/logo_icon.png'"/>
                    <img *ngIf="width <= 320 && group.activity == 'Boss(HQ)'" class="drop-shadow-thicc" mat-card-sm-image [src]="'./assets/cogs/' + group.boss.split('.').join('') + '.png'" onError="this.src='./assets/logo_icon.png'"/>
                    <img *ngIf="width <= 320 && group.activity == 'Boss(Playground)'" class="drop-shadow-thicc" mat-card-md-image [src]="'./assets/places/' + group.playground + '-boss.png'" onError="this.src='./assets/logo_icon.png'"/>
                    
                    <div class="drop-shadow-thicc" *ngIf="group.activity == 'Building'" mat-card-avatar [style.background-image]="getCogType(group.cog_type)"></div>
                    <div class="drop-shadow-thicc" *ngIf="group.activity == 'Facility' || group.activity == 'Boss(HQ)'" mat-card-avatar [style.background-image]="getCogType(getCogPlayground(group.facility_type || group.boss))"></div>
                </div>
            </mat-card>
        </ng-container>
    </div>
</div>